.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.box{
    flex-grow: 1;
}
#d1{
    flex-grow: 2;
    background:  #008000;
}
#d2{
    flex-grow: 1.5;
    background: #FF0000;
}
#d3{
    flex-grow: 4;
    background: #0000FF;
}