@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*,
*::before,
*::after {
box-sizing: border-box;
padding: 0;
}
body{
    font-family: 'Play', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    background: #E4BC79;
    background: linear-gradient(to right, #3a3557, #1e1b46, #0c0741);
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}
img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    margin-bottom: 0.5em;
}
.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    background: #B6B6B6;
    background: linear-gradient(to right, #c7c7c5, #888887, #636262);
}
.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.tag {
    align-self:flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
    margin-left: 1em;
}
.tag + .tag {
    margin-left: .5em;
}
.tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}
.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}
.tag-green {
    background: #149125;
    background: linear-gradient(to bottom, #20df49, #07802f);
    color: #fafafa;
}
.tag-pink {
    background: coral;
    background: linear-gradient(to bottom, #F0A9AB, #EE5A53);
    color: #fafafa;
}
.tag-white {
    background: linen;
    background: linear-gradient(to bottom, rgb(201, 199, 199), rgb(99, 98, 98));
    color: #fafafa;
}
.tag-purple {
    background: mediumorchid;
    background: linear-gradient(to bottom, #AA83CB, #785CB4);
    color: #fafafa;

}
.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}
.txt{
    margin: 1em;
}
h4{
    margin: 1em;
}

